## Importando `pandas` e lendo o arquivo CSV

In [18]:
import pandas as pd

df = pd.read_csv("movie_data.csv")
df = df.to_dict('records')

## Criando a função `counting_sort`

In [19]:
def counting_sort(data, digit):
    size = len(data)

    output = [0] * size
    count = [0] * 10

    for i in range(size):
        index = data[i]["vote_count"] // digit
        count[index % 10] += 1

    for i in range(1, 10):
        count[i] += count[i - 1]

    
    for i in range(size - 1, -1, -1):
        index = data[i]["vote_count"] // digit
        output[count[index % 10] - 1] = data[i]
        count[index % 10] -= 1

    for i in range(size):
        data[i] = output[i]

## Criando a função `radix_sort`

In [20]:
def radix_sort(data):
    MAX = max(data, key=lambda x: x["vote_count"])["vote_count"]

    digit = 1
    while MAX // digit > 0:
        counting_sort(data, digit)
        digit *= 10

## Ordenando o DataFrame

In [21]:
radix_sort(df)
df = pd.DataFrame(df)
df

,Unnamed: 0,movie_id,original_language,original_title,popularity,release_date,title,vote_average,vote_count,genres
0,14,974025,hi,गुमराह,13.687,2023-04-07,Gumraah,0.0,0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam..."
1,137,915865,hi,Mrs Undercover,13.168,2023-04-14,Mrs Undercover,0.0,0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam..."
2,191,966719,hi,किसी का भाई... किसी की जान,8.406,2023-04-21,Kisi Ka Bhai... Kisi Ki Jaan,0.0,0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam..."
3,370,922004,hi,Tooth Pari: When Love Bites,6.399,2023-04-20,Tooth Pari: When Love Bites,0.0,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam..."
4,378,543930,hi,Chaahat,4.464,2020-02-25,Chaahat,0.0,0,"[{'id': 10749, 'name': 'Romance'}]"
...,...,...,...,...,...,...,...,...,...,...
15866,6707,24428,en,The Avengers,149.968,2012-04-25,The Avengers,7.7,28434,"[{'id': 878, 'name': 'Science Fiction'}, {'id'..."
15867,7032,19995,en,Avatar,311.372,2009-12-15,Avatar,7.6,28865,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam..."
15868,5881,155,en,The Dark Knight,86.357,2008-07-14,The Dark Knight,8.5,29497,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name..."
15869,5908,157336,en,Interstellar,152.089,2014-11-05,Interstellar,8.4,31083,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '..."
15870,5923,27205,en,Inception,93.043,2010-07-15,Inception,8.4,33495,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na..."